$def with (page)
$var css:/static/css/base1.css /static/css/welcomeC.css /static/css/sign_upC1.css /static/css/profileC2.css /static/css/designC1.css
$var js:/static/js/jquery-3.5.1.js /static/js/mainS.js /static/js/welcomeJ.js /static/js/designJ1.js


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	$for i in self.css.split():
	 	<link rel="stylesheet" type="text/css" href="$i"/>
	
	<style>
			
	</style>
	<title>First Web</title>
</head>
<body>
	<div id="body">
		<div id="header">
			<div id="cName">Company</div>
			<div id="nBar">
				<ul>
					<li class="nButton">
						<a href="/home" id="home">Home </a>
					</li>
					<li class="nButton">
						<a href="/latest" id="latest">Latest </a>
					</li>
					<li class="nButton">
						<a href="/category"  id="category">Category </a>
					</li>
					<li >
						<div id="pr" width="30px" height="30px;" style="border-radius: 100%;">
						<a href="/profile"  id="profile">
							$if session["user"]==None:
								<img width="30px" height="30px;" style="border-radius: 100%;" src="/static/assets/img1.jpg" alt="Profile"> 
							$else:
								<img width="30px" height="30px;" style="border-radius: 100%;" src="$session['user']['img']" alt="Profile"> 
							

						</a>
					</div>
					</li>
				</ul>
			</div>
		</div>


		$for i in self.js.split():
				<script src="$i"></script>			

		
		<div id="app" >
			$:page
		</div>


		<!-- <div id="foot">
			<div id="fCont">
				<div class="foTags">
					<div><a href="/home">home</a></div>
				</div>
				<div class="foTags">
					<div><a href="top">top</a></div>
				</div>
				<div class="foTags">
					<div><a href="/latest">latest</a></div>
				</div>
				<div class="foTags">
					<div><a href="/category">category</a></div>
				</div>
				<div class="foTags">
					<div><a href="/profile">profile</a></div>
				</div>
				<div class="foTags">
					<div><a href="/help">help</a></div>
				</div>
				<div class="foTags">
					<div><a href="/customer care">customer care</a></div>
				</div>
			</div>
		</div> -->
	</div>
	
</body>
</html>