<!-- 
<link rel="stylesheet" type="text/css" href=/static/js/designJ.js"/> -->
<div id="SUCont">
	<br/><br/>
	<div id="form_cont">
		<form id="log_in_form" >
				<span id="mesgSU">Log IN</span>
				<div class="inputC">
					
					<input class="inputM" type="text" id="username" name="username"  autofocus required onfocus="focusFun('sp1')" onblur="blurFun(this,'sp1')"><br/>
					<span class="inputText" id="sp1" data-V="username"></span>
				</div>
				
				
				<div class="inputC">
					
					<input class="inputM" type="password" id="password" name="password"  required onfocus="focusFun('sp4')" onblur="blurFun(this,'sp4')"><br/>
					<span class="inputText" id="sp4" data-V="password"></span>
				</div>
				
				<button type="submit"   >Submit</button><br/>
				<span id="mesgLI">New user?<a href="/profile/sign_up">Sign-up</a></span>
			
		</form>
	</div>
</div>