$def with (UName,FName,Email)
<script src="/static/js/darkbgJ.js"></script>
<div id="PCont">
	<br/><br/>
	<h1>Profile Page</h1>
	<script type="text/javascript">
		console.log('reached')
		console.log($UName);
	</script>
	<div id="PData">
		Username: <span id="DUName">$UName</span><br/>
		Fullname: <span id="DFName">$FName</span><br/>
		Email: <span id="DEmail">$Email</span><br/>
	</div>
	<a href="/profile/Edit"><button>Edit</button></a>
	<a href="/profile/sign_up"><button>Sign_up</button></a>
</div>