/*----common to all----*/
a{
	text-decoration: none;
	text-align: center;
}

#app{
	overflow: hidden;
    background-color: #e5e5;
}
/*----foot----*/
/*#foot{
	margin-bottom: 0;
	min-height: 100px;
	width: 100%;
	background-color: skyblue;
	display: block;
	z-index: 1;
}
.foTags{
	width: 100px;
	height: 40px;
	display:inline-flex;
	z-index: 1;
	margin-left: 50px;
	margin-right: 50px;
}
.foTags >div{
	margin-top: 15px;
	margin-left: 45%;
}
#fCont{
	padding-bottom: 20px;
}
*/
/*----body----*/
#body {
	width: 100%;
	display: block;
	min-height: 100vh;
	z-index: 0;
	background-color: rgb(40,40,40);
	overflow: hidden;
}



/*----header----*/
#header{
	height: 50px;
	width: 98%;
	margin-top: 0;
	display: block;
	float: top;
	position: absolute;
	z-index: 1;
}
#cName{
	font-size: 30px;
	color: black;
	padding-left: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	float: left;
	color: white;
}
#nBar {
	float: right;
	width: 380px;
	padding: 1px;
}
#nBar >ul{
	margin: 0;
	margin-top:15px; 
	margin-right: 10;
	list-style-type: none;
}
#nBar > ul >li{
	float: left;
	margin-right: 15px;
}
#nBar > ul >li a{
	font-size: 20px;
	padding-top: 2px;
	display: block;
	padding-right: 2px;
	padding-left: 2px;
	color: white;
}

.nButton{
	transition: 0.6s;
	background-color: rgba(255,255,255,0);
	border-radius: 2px;
	height: 25px;
}

.nButton:hover {
	background-color: rgba(255,255,255,0.2);

}
.nButton:active {
	background-color: rgba(255,255,255,0.8;
}
