
#SUCont{
	min-height: 100vh;
	z-index: 0;
	margin-top: 0;
}
#form_cont{
	margin-top:15vh;
	min-height: 30vh;
	width: 100%;
    position: absolute;
    text-align: center;

}
#form_cont>form input{
	display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
 }
  #form_cont>form button{
    margin-bottom: 5px;
    margin-top: 25px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    color: grey;
    transition: 0.4s;
 }
   #form_cont>form button:hover{
    background-color: #e5e5;
    color: black;
    border: 1px solid #e5e5;

 }
 #mesgLI{
    font-size: 15px;
    color:black;
    margin:5px 0 30px 0;
 }
  #mesgSU{
    font-size: 30px;
    color:purple;
    margin:25px 0 25px 0;
 }
 .inputC{
    width: 90%;
 }
#form_cont  form{
	width: 35%;
	min-height: 250px;
	padding: 5px;
	margin-top: 20px;
	margin-left: 35%;
	border-radius: 5px;
    background-color: #e5e5e5;
    text-align: center;
}