#PCont{
	min-height: 100vh;
	z-index: 0;
	margin-top: 0;
	width: 100%;
}

#PData{
	color: black;
	text-align: center;
	min-width: 35%;
	max-width: 45%;
	min-height: 20px;
	margin-left: 30%;
	border-radius: 5px;
	background-color: #e5e5e5;
	
}
.Ttext{
	margin:10px 0 10px 15px;
	width: 85%;
	text-align: left;
	height: 20px;
	background-color: blue;
	position: relative;
	display: block;
}
#Timg{
	width: 100%;
	background-color: red;
	height: 150px;
	margin:30px 0px 15px 250px ;
	width: 100%;
	align-content: center;
}
.Lfile,#AUButton{
	margin-left: 35%;
}
#AUButton{
	display: none;
}