
#form_cont{
	margin-top:35vh;
	height: 30vh;
	width: 100%;
	position: absolute;
	z-index: 1;
}
#form_cont>form>input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
    margin-bottom: 10px;
    background: transparent;

 }
#form_cont > form{
	margin-left: 40%;

}
#SUCont{
	min-height: 100vh;
	z-index: 0;
	margin-top: 0;
	background-color: rgba(0,0,0,0.6);
}